.contact {
    min-height: 200px;
    background-color: var(--primary-theme-color);
    position: relative;
    color: var(--secondary-theme-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    @media (min-width:  1200px) {
        padding: 5rem;
    }

    .title {
        font-size: 2rem;
        color: white;
        opacity: .8;

        @media (max-width: 320px) {
        font-size: 1.5rem;
        }
    }

    .contact-info {
        font-size: 1.5rem;
        color: white;
        margin: .5rem;
        opacity: .8;

        &:hover {
            opacity: 1;
        }

        @media (max-width: 320px) {
            font-size: 1.2rem;
        }
    }

    .social-media {
        margin-top: 1.5rem;
    }

    svg {
        fill: var(--secondary-theme-color);
        height: 50px;
        width: auto;

        &:hover {
            fill: white;
        }
    }



}