<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Press Express back end server with Node.JS">
    <title>Press Express Back End (Node)</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

</head>

<body>
    <div class="overflow-container">
        <animated-mouse></animated-mouse>
        <div class="sliding-canvas">
            <nav id="side-menu">
                <ul class="side-menu__list">
                    <li class="side-menu__item">
                        <a href="/projects/peappreact" class="side-menu__link prefetch-link">P.E. App (React)</a>
                    </li>
                    <li class="side-menu__item">
                        <a href="/projects/peappvue" class="side-menu__link prefetch-link">P.E. App (Vue)</a>
                    </li>
                    <li class="side-menu__item">
                        <a href="/projects/peadmin" class="side-menu__link prefetch-link">P.E. Admin Dashboard</a>
                    </li>
                    <li class="side-menu__item active">
                        <a href="/projects/pebackend" class="side-menu__link prefetch-link">P.E. Back End</a>
                    </li>
                    <li class="side-menu__item">
                        <a href="/projects/webpacktsboilerplate" class="side-menu__link prefetch-link">Webpack/TS
                            Boilerplate</a>
                    </li>
                    <li class="side-menu__item">
                        <a href="/projects/personalportfolio" class="side-menu__link prefetch-link">Personal
                            Portfolio</a>
                    </li>
                    <li class="side-menu__item">
                        <a href="/" class="side-menu__link prefetch-link">Home</a>
                    </li>
                </ul>
                <div class="theme-changer-container">
                    <theme-changer dark></theme-changer>
                </div>
            </nav>
            <section id="picture">
                <img data-src="../../../shared/images/macbook-graphql.jpg" class="lazy-image"
                    alt="Back end GraphQL on a computer">
                <div class="overlay"></div>
                <header>
                    <div class="header__main">
                        <h1>Press Express Back End (Node)</h1>
                        <div class="header__links">
                            <a class="header__link" href="https://github.com/erlorenz/peserver" target="_blank"
                                rel="noopener noreferrer" aria-label="Go to Github repository">
                                <svg alt="Github logo" version="1.2" baseProfile="tiny" id="github"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    x="0px" y="0px" viewBox="0 0 2350 2314.8" xml:space="preserve">
                                    <path d="M1175,0C525.8,0,0,525.8,0,1175c0,552.2,378.9,1010.5,890.1,1139.7c-5.9-14.7-8.8-35.3-8.8-55.8v-199.8H734.4
                               c-79.3,0-152.8-35.2-185.1-99.9c-38.2-70.5-44.1-179.2-141-246.8c-29.4-23.5-5.9-47,26.4-44.1c61.7,17.6,111.6,58.8,158.6,120.4
                               c47,61.7,67.6,76.4,155.7,76.4c41.1,0,105.7-2.9,164.5-11.8c32.3-82.3,88.1-155.7,155.7-190.9c-393.6-47-581.6-240.9-581.6-505.3
                               c0-114.6,49.9-223.3,132.2-317.3c-26.4-91.1-61.7-279.1,11.8-352.5c176.3,0,282,114.6,308.4,143.9c88.1-29.4,185.1-47,284.9-47
                               c102.8,0,196.8,17.6,284.9,47c26.4-29.4,132.2-143.9,308.4-143.9c70.5,70.5,38.2,261.4,8.8,352.5c82.3,91.1,129.3,202.7,129.3,317.3
                               c0,264.4-185.1,458.3-575.7,499.4c108.7,55.8,185.1,214.4,185.1,331.9V2256c0,8.8-2.9,17.6-2.9,26.4
                               C2021,2123.8,2350,1689.1,2350,1175C2350,525.8,1824.2,0,1175,0L1175,0z" />
                                </svg>
                            </a><a class="header__link" href="https://press-express-staging.appspot.com/graphql"
                                target="_blank" rel="noopener noreferrer" aria-label="Go to Press Express server">
                                <svg alt="Eye" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 512 512">
                                    <g>
                                        <path
                                            d="m494.8,241.4l-50.6-49.4c-50.1-48.9-116.9-75.8-188.2-75.8s-138.1,26.9-188.2,75.8l-50.6,49.4c-11.3,12.3-4.3,25.4 0,29.2l50.6,49.4c50.1,48.9 116.9,75.8 188.2,75.8s138.1-26.9 188.2-75.8l50.6-49.4c4-3.8 11.7-16.4 0-29.2zm-238.8,84.4c-38.5,0-69.8-31.3-69.8-69.8 0-38.5 31.3-69.8 69.8-69.8 38.5,0 69.8,31.3 69.8,69.8 0,38.5-31.3,69.8-69.8,69.8zm-195.3-69.8l35.7-34.8c27-26.4 59.8-45.2 95.7-55.4-28.2,20.1-46.6,53-46.6,90.1 0,37.1 18.4,70.1 46.6,90.1-35.9-10.2-68.7-29-95.7-55.3l-35.7-34.7zm355,34.8c-27,26.3-59.8,45.1-95.7,55.3 28.2-20.1 46.6-53 46.6-90.1 0-37.2-18.4-70.1-46.6-90.1 35.9,10.2 68.7,29 95.7,55.4l35.6,34.8-35.6,34.7z" />
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="header__tech">
                        <div class="header__tech-label">
                            <span></span>Tech<span></span>
                        </div>
                        <ul class="header__tech-list">
                            <li class="tech__item">google app engine</li>
                            <li class="dot">&middot</li>
                            <li class="tech__item">postgresql</li>
                            <li class="dot">&middot</li>
                            <li class="tech__item">graphql</li>
                            <li class="dot">&middot</li>
                            <li class="tech__item">express</li>
                            <li class="dot">&middot</li>
                            <li class="tech__item">stripe</li>
                            <li class="dot">&middot</li>
                            <li class="tech__item">joi</li>
                            <li class="dot">&middot</li>
                            <li class="tech__item">mailjet</li>
                            <li class="dot">&middot</li>
                            <li class="tech__item">twilio</li>
                            <li class="dot">&middot</li>
                            <li class="tech__item">objection.js</li>
                        </ul>
                    </div>
                </header>
            </section>
            <section id="overview">
                <div class="overview__title">
                    <h3>Overview</h3>
                    <div></div>
                </div>
                <p class="overview__text">
                    Node.js server running on Google App Engine and connected to a PostgresQL database.
                </p>
                <p class="overview__text"> Communicates with public web app, admin dashboard, and 3rd party
                    communications services to receive, display, and modify customer orders.</p>
            </section>

            <section id="challenges">
                <div class="challenges__grid-item">
                    <div class="challenges__title">
                        <h3>Storing/Retrieving Data</h3>
                        <div></div>
                    </div>
                    <div class="challenges__body">
                        <p>PROBLEM: Initially data was stored and accessed in MongoDB database due to unknown
                            requirements.
                            <br> Customer order data is highly relational and would be better served with a RDMS but
                            many Node.js ORMs are immature or poorly documented.
                        </p>
                        <p>
                            SOLUTION: After attempts with Sequelize and Knex.js, the best option was to use Objection.js
                            as it simplifies relationships between models and connects well with PostgresQL.
                            <br> Currently migrating to TypeScript and TypeORM due to ability to support
                            automatic GraphQL schema/type generation to avoid duplicating work whenever
                            writing/modifying models.
                        </p>
                    </div>
                </div>

                <div class="challenges__grid-item">
                    <div class="challenges__title">
                        <h3>Architecture</h3>
                        <div></div>
                    </div>
                    <div class="challenges__body">
                        <p>PROBLEM: Express.js is a very lightweight framework with by far the most community resources,
                            however there is no consensus on structure and Async/Await error handling is outdated.
                            <br> For an API server a well-defined framework to avoid reinventing error handling,
                            architecture, and other common conventions would speed up development.
                        </p>
                        <p>
                            SOLUTION: Sampled Koa.js as it is more modern yet similar to Express.
                            <br> Will continue to explore Nest.js as it has the most community momentum and is a
                            higher-level and rigidly structured framework.
                            <br> Currently migrating to TypeScript and will continue to further standardize error
                            handling, route and controller architecture, and logging.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>