body.red-theme {
    --primary-theme-color: #1d1b1b;
    --secondary-theme-color: #ec3737;
    --background-theme-color: #f7efef;

}

body.green-theme {
    --primary-theme-color: #243665;
    --secondary-theme-color: #8bd8bd;
    --background-theme-color: #eef0f7;
}

body.pink-theme {
    --primary-theme-color: #080A52;
    --secondary-theme-color: #EB2188;
    --background-theme-color: rgb(233, 233, 243);
}

