body.red-theme {
    --primary-theme-color: #1d1b1b;
    --secondary-theme-color: #ec3737;
}

body.green-theme {
    --primary-theme-color: #243665;
    --secondary-theme-color: #8bd8bd;
}

body.pink-theme {
    --primary-theme-color: #080A52;
    --secondary-theme-color: #EB2188;
}

