
body {
  background-color: var(--bg);
}

body,
ol,
ul {
  font-weight: normal;
  font-family: var(--font);
  color: var(--text-color);
}

button,
input,
select,
div,
textarea,
td,
th {
  line-height: 1.5;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section__anchor {
  position: absolute;
  z-index: -100;
  top: -60px;

   @media (min-width: 450px) {
       top: -80px;
   }
}